/* UNIVERSAL SELECTOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESIZE DEFAULT FONT */
:root{
    font-size: 62.5%;
    --color: #1970a3;
    --transition: 0.15s ease;
}

body{
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header{
    background-color: #000000;
    color: var(--color);
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

h1{
    font-size: 7rem;
}

main{
    max-width: 80%;
    width: 100%;
    margin: 1rem auto 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userName{
    font-size: 4rem;
    font-weight: 600;
}

sup{
    font-size: 1.7rem;
}

/* DASHBOARD */
#dashboard{
    box-shadow: 0.3rem 0.3rem 5px #000;
    background-color: var(--color);
    color: #000;
    padding: 3rem;
    border: none;
    border-radius: 1rem;
    margin: 0.5rem 0 1.5rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    row-gap: 4rem;
    min-width: 75%;
    cursor: default;
}

#dashboard div{
    display: flex;
    flex-direction: column;
}

/* INPUTS */
#Inputs{
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    gap: 3rem;
    margin: 0 0 1.5rem 0;
}

#Inputs div{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

label{
    font-weight: 600;
    cursor: pointer;
}

#IncomeCategory, #Incomes, #ExpenseCategory, #Expenses{
    font-size: 2.5rem;
    border: 1px solid #000;
    border-radius: 2rem;
    transition: var(--transition);
    padding: 0 1rem;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

#IncomeCategory:hover, #ExpenseCategory:hover{
    transform: scale(1.02, 1.02);
}

#Incomes:hover, #Expenses:hover{
    transform: scale(1.02, 1.02);
}

p{
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
}

#CurrencyCategory{
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    gap: 4rem;
}

#CurrencyCategory div{
    cursor: pointer;
}

select{
    appearance: none;
    padding: 1rem;  
}

/* BUTTON */
button{
    margin: 2rem auto;
    padding: 0.5rem 2rem;
    font-size: 3rem;
    border: none;
    border-radius: 2rem;
    background-color: #000;
    color: var(--color);
    transition: var(--transition);
}

button:hover{
    transform: scale(1.03, 1.03);
    cursor: pointer;
}

footer{
    background-color: var(--color);
    color: #000;
    text-align: center;
}

#footerText{
    padding: 0.5rem 0;
}


/* MEDIA QUERIES */
/* 1200px */
@media (min-width: 76rem){
    body{
        height: 100vh;
    }
}

@media (max-width: 75rem){
    #Inputs{
        display: flex;
        flex-direction: column;
    }
}

/* 800px */
@media (max-width: 50rem){
    :root{
        font-size: 50%;
    }

    #dashboard{
        grid-template-columns: 1fr;
        text-align: left;
    }

    #dashboard div{
        flex-direction: row;
    }
}

/* 580px */
@media (max-width: 36.25rem){
    :root{
        font-size: 37.5%;
    }

    /* #CurrencyCategory{
        flex-direction: column;
    } */

    #CurrencyCategory{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}